.cart {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.cart__items {
  flex: 0.4;
  padding: 1rem;
}
.cartItems__heading {
  display: flex;
  justify-content: space-between;
}
.cartItem__product {
  display: flex;
}
.cart__item {
  border: 1px solid #eaeaec;
  padding: 1rem;
}
.cart__image {
  height: 170px;
  object-fit: contain;
}
.cartItem__details {
  margin: 0 1rem;
}
.cartItem__details > p {
  font-size: 14px;
}
.cartItems__heading > h3,
h4 {
  font-weight: 600;
}
.cartItem__heading {
  font-weight: 600;
}
.cartItem__buttons {
  border-top: 1px solid #eaeaec;
  margin-top: 1rem;
}
.cart__total {
  padding: 1rem;
  flex: 0.3;
}
.cart__total a:hover {
  text-decoration: none;
}
.cartTotal__price {
  border: 1px solid #eaeaec;
  padding: 1rem;
}
.cart__totalMrp,
.cart__discountMrp,
.cart__totalAmount {
  display: flex;
  justify-content: space-between;
}
.greenText {
  color: #03a685;
}
.placeOrderBtn {
  background-color: #ff3e6c !important;
  color: white !important;
  padding: 0.7rem 3rem !important;
  font-weight: 600 !important;
  margin-right: 1rem !important;
  margin-top: 1rem !important;
  width: 100%;
}
.placeOrderBtn:hover {
  background-color: #ff527b !important;
  color: white !important;
}
.cart__wishlistBtn {
  background-color: white !important;
  color: #ff3e6c !important;
  padding: 0.7rem 3rem !important;
  font-weight: 600 !important;
  margin-top: 1rem !important;
  border: 1px solid #ff3e6c !important;
}
.cart__wishlistBtn:hover {
  background-color: white !important;
  color: #ff3e6c !important;
}
.cart__empty {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__empty > img {
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.cartItem__price {
  display: flex;
}
.cartItem__price > * {
  margin-right: 2px;
  white-space: nowrap;
}
@media only screen and (max-width: 960px) {
  .cart {
    flex-direction: column;
    width: 100%;
  }
  .cart__items {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .cart {
    width: 129vw;
  }
}
